[profile.default]
src = 'src'
out = 'out'
libs = ['lib']

[fmt]
line_length = 100
tab_width = 2
bracket_spacing = true

# See more config options https://github.com/foundry-rs/foundry/tree/master/config